
@{
    ViewData["Title"] = "ContactPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <center>
        <h1>Contact-us</h1>
        <p>Send us your experience about BookStore</p>
        <p>E-mail us: <a href="mailto: info@lakeviewhotel.com">info@BookStore.com</a></p>
        <p>For online assistance,contact us at (800)441-3456</p>
    </center>
</div>
