
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ChangePassword</h1>

<form class="form-horizontal" action="~/Admin/User/ChangePassword" method="post">
    <div class="form-group">
        <label class="control-label col-sm-2" for="UserName">UserName:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="UserName" placeholder="Enter UserName">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="PassWord">Password:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" name="password" placeholder="Enter PassWord">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="newPass">New PassWord:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" name="newPass" placeholder="Enter New PassWord">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" for="againNewPass">New Password Again:</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" name="againNewPass" placeholder="Enter New Password Again">
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </div>
</form>