
@{
    ViewData["Title"] = "AboutIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <p><a href="#"></a></p>
            <p><a href="#"></a></p>
            <p><a href="#"></a></p>
        </div>
        <div class="col-sm-8 text-left">
            <h1>
                The rich product catalog, many exclusive and carefully selected products have made the difference of BookStore and built the trust and love of customers.
            </h1>
            <p>
                BookStore.com is the e-commerce site of BookStore, a familiar bookstore system of many Vietnamese families since the first bookstore was established in 1982 until now.
                Coming to the online shopping space nhasachphuongnam.com, customers can easily find good, multi-genre books of many publishers, book companies in and
                abroad with many genuine learning tools, stationery, souvenirs, educational toys of reputable brands. With the same criteria of constantly improving and improving
                Quality of products and services, Phuong Nam Bookstore is committed to providing customers with a safe and convenient online shopping experience: simple ordering, payment methods
                Diverse payment, dedicated and attentive customer service. .
            </p>
            <img src="http://nhasachphuongnam.com/images/he-thong-nha-sach-phuong-nam.jpg?1595926614414" alt="" width="700" height="578">
            <hr>
            <h3>The rich product catalog, many exclusive and carefully selected products have made the difference of BookStore and built the trust and love of customers.</h3>
            <p>
                The rich product catalog, many exclusive and carefully selected products have made the difference of Phuong Nam Bookstore and built the trust and love from customers.

                National Literature Books: In addition to a diverse and rich list of books of many publishers and book companies, large and small nationwide, Phuong Nam also actively exploits copyright and publishes thousands of valuable and interesting books with Phuong Nam Book brand, in which many titles are highly appreciated and entered the best-selling list of the largest book distribution systems in Vietnam.

                Foreign language books: BookStore actively selects and publishes in Vietnam a diverse list of English books from major publishers in the world such as Penguin Random House, Hachette Livre, HarperCollins, Macmillan Publishers, Simon & Schuster,... titles are only available at Phuong Nam Bookstore, many titles were released at the same time as the book's launch in the UK and US.

                School supplies, stationery, toys, souvenirs... are rich, genuine, of clear origin, coming from major domestic and foreign brands. In addition, Phuong Nam Bookstore regularly updates trends to introduce many new products to meet the tastes and needs of customers.

                Tapes and discs: With the brand name Phuong Nam Phim, a familiar name for many Vietnamese with the series of Vietnamese Fairy Tales, Phuong Nam Bookstore introduces to customers many music tapes of many famous singers and musicians. along with the list of movies and TV series that are loved by the audience.

                Hopefully with the e-commerce website nhasachphuongnam.com, Phuong Nam Bookstore can increase the utility for customers, and bring the products of the bookstore system to all customers across the country.

                If you need to contact, contribute ideas and feedback about Phuong Nam Bookstore's products and services, please contact:

                Hotline: 1900 6656

                Email:

                - Request online order support: hotro@nhasachphuongnam.com

                - Send manuscripts, issues related to publication: xuatban@phuongnambook.com

                Company office address: 1st floor, No. 940 3/2 Street, Ward 15, District 11, City. Ho Chi Minh
            </p>
        </div>
        <div class="col-sm-2 sidenav">
            <div class="well">
                <p></p>
            </div>
            <div class="well">
                <p></p>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <p>Footer Text</p>
</footer>